body {
    background-image: url("../images/nickelodeon.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    border: 1px solid black;
    width: 0 auto;
    margin-top: 200px;
}

.col-md-6 {
    border: 1px solid black;
    width: 0 auto;
}

.col-md-12 {
    border: 1px solid black;
    width: 0 auto;
}

img {
   margin: 0 auto;
}

#guesses-left {
    font-size: 50px;
    
}

#underscores {
    font-size: 40px;
    
}

#guessed-letters {
    font-size: 40px;
    margin: 0 auto;
    
}

#wins {
    font-size: 40px;
    
}
#picture {
    margin: 0 auto;
}
