body {
    background-image: url("../images/nickelodeon.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    border: 1px solid black;
    width: 0 auto;
    margin-top: 150px;
}

.col-md-6 {
    border: 1px solid black;
    width: 0 auto;
}

.col-md-12 {
    border: 1px solid black;
    width: 0 auto;
}

.pic {
   width: 100%;
}

#guesses-left {
    font-size: 50px;
    font-family: 'Wendy One', sans-serif;
}

#underscores {
    font-size: 25px;
    font-family: 'Wendy One', sans-serif;
}

#guessed-letters {
    font-size: 25px;
    font-family: 'Wendy One', sans-serif;
}

#wins {
    font-size: 25px;
    font-family: 'Wendy One', sans-serif;
}

h1 {
    font-family: 'Wendy One', sans-serif;
    font-size: 27px;
}

h2 {
    font-family: 'Wendy One', sans-serif;
    font-size: 27px;
}

p {
    font-family: 'Eater', cursive;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}